.body {
    background-color: blue;
}

.nav {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: end;
    padding-left: 2px;
}

.div_nav {
    align-items: stretch;
}

.container {
    width: 100vw;
    height: 50vh;
    background-color: darkblue;
    text-align: center;
}

.text {
    width: 50%;
    height: 100vh;
}

.img {
    width: 50%;
    height: 100vh;

}

.img03 {
    width: 90%;

}